*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

fieldset {
    background-color: #e8cdd0;
    margin-bottom: 2rem;
    border: 2px solid #78212c;
    border-radius: 0.3rem;
    display: block;
    align-items: center;
    padding: 0.9rem;
}

legend {
   background-color: #78212c; 
   color: white;
   text-align: center;
   padding: 0.3rem;
   border-radius: 0.3rem;
}

body {
    background: linear-gradient(to right, #45151f, #78212c);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background-color: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px #45151f42;
    border-radius: 8px;
}

.inputBox {
    position: relative;
    max-width: 254px;
}

.inputBox [type=text], [type=email], [type=number] {
    outline: 0;
    border:1px solid rgb(199, 195, 195);
    width:100%;
}

input[type="file"]{
    color: transparent;
}

#submit {
    background-image: linear-gradient(to right, #414040, #7a7778);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
        
#submit:hover{
    background-image: linear-gradient(to right, #45151f, #78212c);
}

main h1 {
    color: #78212c;
    font-weight: 600;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
}